{% extends "base.html" %}	<!-- Here we're inheriting the base.html template so we don't have to retype the header and footer on this or other content pages -->
{% block content %}		<!-- Corresponds to the same tag on the base.html template - essentially saying "insert here" -->

	<h1>Our current users are:</h1>
		{% for u in users %}
			<div class="userholder">
				<span class="usertitle">{{u.username}}</span>
				<br>({{u.firstname}} {{u.lastname}})
			</div>
		{% endfor %}
		<br> <a href="{{ url_for('add_user')}}">Add a new user</a>

		<br>
	<h1>Posts we have so far </h1>
		{% for p in posts %}
			<div class="postholder">
				<span class="posttitle">{{p.title}}</span>
				<br><br> {{p.content}}
			</div>
		{% endfor %}		
		
                <br> <a href="{{ url_for('add_post')}}">Add a new post</a>
		

{% endblock %} <!-- Basically says "now go back to the base.html template to finish the page" -->
